.media-wrapper-outer {
    display: none !important;
}

@media (min-width: 1000px) {
    #page-section-product {
        width: 35vw;
        position: absolute;
        z-index: 1;
    }

    #page-section-product+.section-wrapper {
        padding-left: 35vw;
        min-height: 44vw !important;
    }
}

.card__media .media {
    border-radius: 24px !important;
}

.card__inner {
    transition-duration: 120ms;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.card__content {
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}